<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    /* Footer styling */
    footer {
      background-color: #212529;
      color: white;
      padding: 10px 0;
      text-align: center;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
    }

    .fa {
      padding: 15px;
      font-size: 20px;
      width: 50px;
      margin: 0 5px;
      border-radius: 50%;
    }

    .fa:hover {
      opacity: 0.7;
    }

    p {
      margin: 0;
    }
  </style>
</head>

<body>
  <!-- Content of the page -->

  <footer>
    <p><br>
      Copyright &copy; Quick Quiz 2024</p>
  </footer>
</body>

</html>
